/* CSS files add styling rules to your content */

body {
  font-family: "Source Sans Pro", arial, sans-serif;
  margin: 2em;
  background-color: #fdf6dd;
}

/* ====================
    GLOBAL STUFF
   ====================*/

.container {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  position: relative;
  width: 800px;
}

.container div {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px 0;
}

h2 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 10px;
}

h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
  padding: 10px;
}

ul {
  margin: 0 45px;
  padding: 0;
}

li {
  padding: 0;
  margin:
}

h4 {
  margin: 0;
  padding: 5px;
  margin-left: 15px;
}

p {
  color: black;
  font-size: 14px;
  margin: 2px;
  padding: 5px;
  margin-left: 20px;
}

li h4 {
  margin: 0;
}

li p {
  margin: 5px;
}


/*  ===================== 
    LAYOUT
    ===================== */

/*  ------ HEADER ------ */

.p-info {
  position: relative;
  height: 400px;
}

.p-info h1 {
  margin: auto 0;
  position: relative;
  width: 225px;
  top: 220px;
  left: 60px;
}

.p-info p {
  width: 225px;
  position: relative;
  top: 220px;
  left: 60px;
  padding: 0;
  text-align: left;
  margin-left: 15px;
  z-index: 1;
}

.portrait {
  height: 300px;
  position: relative;
  width: 300px;
  left: 370px;
  bottom: 55px;
  border-radius: 150px;
}

/* ------ EMPLOYMENT ------ */

.employment {
  position: relative;
}

.employment h2 {
  position: relative;
  z-index: 1;
}

/* ------ EDUCATION ------ */

.education {
  position: relative;
}

.education h2 {
  position: relative;
  z-index: 1;
}

/* ------ ADD-EXP ------ */

.add-exp {
  position: relative;
  width: 340px;
}

.add-exp h3 {
  position: relative;
  z-index: 1;
}

/* ------ SKILLS ------ */

.skills {
  position: relative;
  width: 340px;
}

.skills h3 {
  position: relative;
  z-index: 1;
}

/* =========================
    MISC
   ========================= */


/* ------ COLOR DECO ------- */
.color {
  left: 0px;
  position: absolute;
  z-index: 0;
}

.p-info .color {
  background-color: #5ca5ff;
  border-radius: 0 0 15px 15px;
  bottom: 0px;
  height: 135px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.employment .color {
  background-color: red;
  border-radius: 15px 15px 0 0;
  height: 90px;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

.education .color {
  background-color: red;
  border-radius: 15px 15px 0 0;
  height: 90px;
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
}

.add-exp .color {
  background-color: red;
  border-radius: 15px 15px 0 0;
  height: 80px;
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
}

.skills .color {
  background-color: red;
  border-radius: 15px 15px 0 0;
  height: 80px;
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
}
