/* CSS files add styling rules to your content */

body {
  font-family: "Source Sans Pro", arial, sans-serif;
  margin: 2em;
  background-color: #fdf6dd;
}

.container {
  margin: 0 auto;
  padding: 0;
  color: #000000;
  position: relative;
  width: 800px;
}

.container div {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px 0;
}

h2 {
  font-size: 36px;
  margin: 0;
  padding: 0 10px;
}

h3 {
  font-size: 30px;
  margin: 0;
  padding: 10px;
}

ul {
  margin: 0 30px;
  padding: 0;
}

li {
  padding: 0;
}

h4 {
  margin: 0;
  padding: 5px;
}

p {
  color: black;
  font-size: 14px;
  margin: 2px;
  padding: 5px;
}

/*  ===================== 
    LAYOUT
    ===================== */

/*  ------ HEADER ------ */

.p-info {
  position: relative;
  height: 400px;
}

.p-info h1 {
  margin: auto 0;
  position: relative;
  width: 225px;
  top: 200px;
  left: 85px;
}

.p-info p {
  width: 225px;
  position: relative;
  top: 200px;
  left: 85px;
  padding: 0;
  text-align: left;
  margin-left: 15px;
}

.portrait {
  height: 300px;
  position: relative;
  width: 300px;
  left: 425px;
  bottom: 55px;
  border-radius: 150px;
}

/* ------ EMPLOYMENT ------ */
.employment {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
}


/* ------ EDUCATION ------ */
.education {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
}

/* ------ ADD-EXP ------ */

/* ------ SKILLS ------ */
/* =========================
    MISC
   ========================= */
