/* CSS files add styling rules to your content */

body {
  font-family: "Source Sans Pro", arial, sans-serif;
  margin: 2em;
  background-color: #f7edba;
}

.container h1,
h2,
h3,
h4,
p,
ul,
li,
div {
  border: 1px red solid;
}

.container {
  margin: 0 auto;
  padding: 15px;
  color: #000000;
  position: relative;
  width: 800px;
  background-color: #fff;
  
}

div {
  padding: 15px;
}

h2 {
  padding: 5px;
  font-size: 24px;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

ul {
  margin: 0 50px;
  padding: 0px;
}

li {
  padding: 0;
}

h4 {
  padding: 5px;
  margin: 0;
}

p {
  margin: 5px;
  padding: 5px;
  width: 500px;
  font-size: 14px;
  color: black;
}

/*  ===================== 
    LAYOUT
    ===================== */

/*  ------ HEADER ------ */


.p-info h1 {
  padding: 5px;
  margin: 0;
  font-size: 36px;
}


/* ------ EMPLOYMENT ------ */



/* ------ EDUCATION ------ */


